# VS Code
.vscode/

# Visual Studio
.vs/

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# Temporary files
*.tmp

# Backup files
*.bak

# Git
*.orig

# Build output (if ever used)
bin/
obj/

# JetBrains (if ever used)
.idea/

* text=auto

*.xml text
*.txt text
*.md text